amd-aiter @ file:///flash-attention/third_party/aiter
annotated-doc==0.0.4
anyio==4.13.0
apex==1.10.0+rocm7.2.1.git751f5dd5
bcp47==0.1.0
bitmath==1.3.3.1
build==1.4.2
certifi==2026.2.25
chardet==7.4.0.post2
choreographer==1.2.1
click==8.3.1
colorama==0.4.6
contourpy==1.3.3
cxxfilt==0.3.0
cycler==0.12.1
einops==0.8.2
filelock==3.25.2
flash_attn==2.8.4
fonttools==4.62.1
fsspec==2026.2.0
h11==0.16.0
hf-xet==1.4.3
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.9.0
hypothesis==6.151.9
idna==3.11
iniconfig==2.3.0
Jinja2==3.1.6
kaleido==1.2.0
kiwisolver==1.5.0
langcodes==3.5.1
logistro==2.0.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
mdurl==0.1.2
mpmath==1.3.0
msgspec==0.20.0
narwhals==2.18.1
networkx==3.6.1
ninja==1.13.0
numpy==2.4.3
orjson==3.11.8
packaging==26.0
pandas==3.0.1
pillow==12.1.1
plotly==6.6.0
pluggy==1.6.0
protobuf==7.34.1
psutil==7.2.2
py-cpuinfo==9.0.0
pybind11==3.0.3
Pygments==2.19.2
pymkv2==2.2.0.post2
pyparsing==3.3.2
pyproject_hooks==1.2.0
pysrt==1.1.2
pytesseract==0.3.13
pytest==9.0.2
pytest-timeout==2.4.0
python-dateutil==2.9.0.post0
python-iso639==2026.1.31
PyYAML==6.0.3
regex==2026.3.32
rich==14.3.3
safetensors==0.7.0
scipy==1.17.1
sentencepiece==0.2.1
setuptools==82.0.1
shellingham==1.5.4
simplejson==3.20.2
six==1.17.0
sortedcontainers==2.4.0
sympy==1.14.0
tokenizers==0.22.2
torch==2.10.0+rocm7.2.1.lw.gitb6dec82d
torchaudio==2.10.0+rocm7.2.1.git5047768f
torchvision==0.25.0+rocm7.2.1.git82df5f59
tqdm==4.67.3
transformers==5.5.0
triton==3.6.0+rocm7.2.1.gitba5c1517
typer==0.24.1
typing_extensions==4.15.0
wheel==0.46.3
